body{
}

h1, h2{
  margin: 0;
}

/* Display Posts*/
article, section.post-replies{
  margin: 10px 10px 20px 10px;
  padding: 10px;
}

.post-replies{
  background-color: #eee;
}
.post-reply-form{
  margin: 10px 0;
}

label{
  width: 100%;
  margin-top: 10px;
}

.modal-content{
  padding:20px;
}

.post-block{
  background-color: #ddd;
  padding: 10px;
  margin-bottom:20px;
}

#create-post-body{
  height: 200px;
}

.submit-reply{
  width:100%
}

.delete-reply, .delete-post {
  color:#FF1111;
  cursor:pointer;
  float: right;
}

#login-alert, #signup-alert{
  margin-top: 10px;
}



.login-link, .me, {
  display:none;
}
