body{
}

h1, h2{

}

/* Display Posts*/
article, section.post-replies{
  margin: 10px;
  padding: 5px;
}


label{
  width: 100%;
}

.modal-content{
  padding:20px;
}

.post-block{
  background-color: #ddd;

  margin-bottom: 20px;
}

.submit-reply{
  width:100%
}

.delete-reply, .delete-post {
  color:#FF1111;
  cursor:pointer;
  float: right;
}

#login-alert, #signup-alert{
  margin-top: 10px;
}
